<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:with="title='分类管理',active='category'">
<header th:replace="admin/header::headerFragment(${title},${active})"></header>
<body>
    category html!
    <div th:replace="admin/header::header-body"></div>
    <div class="panel-body">
        <th:block th:each="c : ${categoryList}">
            <div class="btn-group m-b-10">
                <th:block th:if="${c.name == '默认分类'}">
                    <button type="button"
                            th:class="'btn btn-'+${adminCommons.rand_color()}+' waves-effect waves-light'">
                        <th:block th:text="${c.name}"/>
                        <th:block th:text="' ('+${c.count}+')'"/>
                    </button>
                </th:block>
                <th:block th:unless="${c.name == '默认分类'}">
                    <button type="button"
                            th:class="'btn btn-'+${adminCommons.rand_color()}+' dropdown-toggle waves-effect waves-light'"
                            data-toggle="dropdown" aria-expanded="false">
                        <th:block th:text="${c.name}"/>
                        <th:block th:text="' ('+${c.count}+')'"/>
                        <span
                                class="caret"></span></button>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="javascript:void(0)" th:attr="mid=${c.mid},cname=${c.name}"
                               class="edit-category">修改</a>
                        </li>
                        <li><a href="javascript:void(0)" th:attr="mid=${c.mid}"
                               class="del-category">删除</a></li>
                    </ul>
                </th:block>
            </div>
        </th:block>
    </div>
</body>
</html>